# system files
*~
.DS_Store
[Dd]esktop.ini
$RECYCLE.BIN/
Thumbs.db

# user-specific files
*.suo
*.user
*.userprefs
.idea/
.vs/
.vscode/

# environment variables
.env

# configuration settings
appsettings.json
appsettings.*.json

# build output
bin/
obj/
dist/

# dependencies
node_modules/
