<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/web-config?view=aspnetcore-6.0 -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <!-- A little extra security (by obscurity) -->
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <security>
        <!-- Suppress the IIS server header -->
        <requestFiltering removeServerHeader="true">
          <!-- Set the maximum request length to 134217728 bytes (128 MB) -->
          <requestLimits maxAllowedContentLength="134217728" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>  
</configuration>
